
build/
bin/
out/

.vscode/
.vs/
*.sln
*.vcxproj
*.user
.idea/
*.swp
*.swo

*.exe
*.dll
*.so
*.dylib
*.o
*.obj
*.a
*.lib
*.pdb


CMakeFiles/
CMakeCache.txt
CMakeScripts/
cmake_install.cmake
Makefile

Thumbs.db
.DS_Store

*.xrth.log
*.tmp